<section class="thirteen columns">
  <h1><b>Educação</b></h1>
  <article>
    <header>
        <h1>Mestrado em Direcção Estratégica em Telecomunicações</h1>
        <span>Universidad Europea del Atlantico (FUNIBER)</span>
        <span><address>Cantábria, Espanha</address><time>2019 até 2022 (Em Curso)</time></span>
    </header>
    <p>
        <em>Dissertaçao:</em>
    </p>
  </article>
  <article>
    <header>
        <h1>Licenciatura em Tecnologia de Informação: Sistemas Industriais Inteligentes</h1>
        <span>Tshwane University of Technology</span>
        <span><address>Pretória, África do Sul</address><time>2014 até 2015</time></span>
    </header>
    <p>
        <em>Projecto:</em> Sistema de Votação Inteligente.
    </p>
  </article>
  <article>
    <header>
      <h1>Diploma em Tecnologia de Informação: Sistemas Industriais Inteligentes</h1>
      <span>Tshwane University of Technology</span>
      <span><address>Pretória, África do Sul</address><time>2010 até 2013</time></span>
    </header>
    <p>
      <em>Projecto:</em> Sistema para Casa Automática.
    </p>
  </article>
  <article>
    <header>
      <h1>Certificado de Habilitaçóes do Ensino Médio: Ciências Físicas e Biológicas</h1>
      <span>Centro Pré-Universitário de Cabinda</span>
      <span><address>Cabinda, Angola</address><time>2005 até 2008</time></span>
    </header>
    <p></p>
  </article>
</section>