<section class="thirteen columns">
    <h1>Experiência de Trabalho</h1>
    <article>
        <header>
            <h1>Docente Part-Time</h1>
            <span><address>Tshwane University of Technology, South Africa</address><time>Outubro 2016 até agora</time></span>
        </header>
        <p>Docente de Programação de Jogos e Controlo de Processos Digitais</p>
    </article>
    <article>
        <header>
            <h1>Part-Time Android Developer</h1>
            <span><address>Rheo Systems, South Africa</address><time>Dezembro 2015 até agora</time></span>
        </header>
        <p>Desenvolver aplicativos para Android</p>
    </article>
    <article>
      <header>
          <h1>Mobile/Web Developer</h1>
          <span><address>Thinkbots, South Africa</address><time>2015 até agora</time></span>
      </header>
      <p>Co-fundador e Desenvolvedor de aplicativos para Android e Web usando PHP, Ruby, HTML5/CSS3</p>
    </article>
    <article>
        <header>
            <h1>Mobile/Web Developer</h1>
            <span><address>Microsmart, South Africa</address><time>2013 até 2014</time></span>
        </header>
        <p> Desenvolver aplicativos para Android e Web usando CoffeeScript, AngularJS e HTML5/CSS3</p>
    </article>
    <article>
        <header>
            <h1>Mobile/Web Developer</h1>
            <span><address>Geekulcha, South Africa</address><time>2013 até agora</time></span>
        </header>
        <p> Desenvolver aplicativos para Android e Web PHP, HTML5/CSS3</p>
    </article>
    <article>
        <header>
            <h1>Assistente Universitário</h1>
            <span><address>Tshwane University of Technology</address><time>Janeiro 2012 até Junho 2013</time></span>
        </header>
        <p>Ajudar estudantes com Vb.net, C++, e N+ "Hardware para computadores"</p>
    </article>
</section>
