<section class="thirteen columns">
    <h1>Experiência de Trabalho</h1>
    <article>
        <header>
            <h1>Experienced Senior Advisor</h1>
            <span>
                <address>KPMG Angola/Portugal</address><time>April 2023 até Agora</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Senior Consultant (Assistant Manager)</h1>
            <span>
                <address>EY (Ernst & Young)</address><time>November 2022 até March 2023</time>
            </span>
        </header>
        <p>Parte do team de desenvolvimento da metódologia e ferramenta do PSAI para as não bancárias usando o Asp.net and AngularX</p>
    </article>
    <article>
        <header>
            <h1>Engenheiro de Software Pleno</h1>
            <span>
                <address>Turing.com</address><time>February 2022 até November 2022</time>
            </span>
        </header>
        <p>Stack: NodeJs, ReactJs/ReactNative</p>
    </article>
    <article>
        <header>
            <h1>Consultor Sénior de Desenvolvimento</h1>
            <span><address>TIS TECH, Angola</address><time>Julho 2020 até Junho 2022</time></span>
        </header>
        <p>Desenvolvedor NodeJS, Mobile (Xamarin), ReactJS, ReactNative</p>
        <p>Stack: NodeJs, ReactJs/ReactNative, Python</p>
    </article>
    <article>
        <header>
            <h1>Co-fundador e CTO</h1>
            <span><address>Kupapata, Angola</address><time>Março 2020 até agora</time></span>
        </header>
        <p>Gerir equipa de desenvolvimento e gestão de tecnológias de desenvolvimento</p>
    </article>
    <article>
        <header>
            <h1>Partner & Tech Lead</h1>
            <span><address>Fit em 14 semanas, Angola</address><time>Janeiro 2017 até agora</time></span>
        </header>
        <p>Desenvolvedor Principal para Web, Mobile, Administrador de sistemas e IT Manager</p>
        <p>Stack: Laravel PHP (AsgardCMS) , NodeJs, ReactJs/ReactNative, DevOPS</p>
    </article>
    <article>
        <header>
            <h1>Chefe de Secção Tecnologias de Apoio</h1>
            <span><address>Anglobal soluções inovadoras, Angola</address><time>Abril 2019 até Julho 2020</time></span>
        </header>
        <p>Desenvolvedor Principal para Web, Administrador de sistemas de Operações e Manutenção</p>
        <p>Stack: Laravel PHP</p>
    </article>
    <article>
        <header>
            <h1>Co-fundador & Desenvolvedor Fullstack</h1>
            <span><address>Ivango T.I - Prestação de Serviços, Angola</address><time>Janeiro 2017 até Dezembro 2019</time></span>
        </header>
        <p>Desenvolvedor Principal para Web, Mobile, DeOps e Assistente de Suporte</p>
        <p>Stack: Laravel PHP (AsgardCMS), MERN, MEAN, DevOps</p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor para Web e Assistente de Suporte</h1>
            <span><address>Chankura, South Africa</address><time>Março 2017 até Dezembro 2017</time></span>
        </header>
        <p>Desenvolvedor para Web e Assistente de Suporte</p>
    </article>
    <article>
        <header>
            <h1>Docente de meio período</h1>
            <span><address>Tshwane University of Technology, South Africa</address><time>Outubro 2016 até Março 2017</time></span>
        </header>
        <p>Docente de Programação de Jogos e Controlo de Processos Digitais</p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor para Android (Não permanente)</h1>
            <span><address>Rheo Systems, South Africa</address><time>Dezembro 2015 até Outubro 2016</time></span>
        </header>
        <p>Desenvolver aplicativos para Android</p>
    </article>
    <article>
      <header>
          <h1>Co-fundador & Desenvolvedor de Aplicativos Móveis (Android) e para Web</h1>
          <span><address>Thinkbots, South Africa</address><time>2015 até Novembro 2018</time></span>
      </header>
      <p>Co-fundador e Desenvolvedor de aplicativos para Android e Web usando PHP, Ruby, HTML5/CSS3, DevOps</p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor de Aplicativos Móveis (Android) e para Web</h1>
            <span><address>Microsmart, South Africa</address><time>Novembro 2013 até Novembro 2014</time></span>
        </header>
        <p> Desenvolver aplicativos para Android e Web usando CoffeeScript, AngularJS e HTML5/CSS3</p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor de Aplicativos Móveis (Android) e para Web</h1>
            <span><address>Geekulcha, South Africa</address><time>2013 até 2015</time></span>
        </header>
        <p> Desenvolver aplicativos para Android e Web PHP, HTML5/CSS3</p>
    </article>
    <article>
        <header>
            <h1>Assistente Universitário</h1>
            <span><address>Tshwane University of Technology</address><time>Janeiro 2012 até Junho 2013</time></span>
        </header>
        <p>Ajudar estudantes com Vb.net, C++, e N+ "Hardware para computadores"</p>
    </article>
</section>
