<section id="projects">
<div class="container">
  <h1>Projectos</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-bordered table-stripedtable-hover">
          <thead>
            <tr>
              <th><h3> Nome</h3></th>
              <th><h3>Tipo</h3></th>
              <th><h3>Criado com</h3></th>
            </tr>
          </thead>
          <tbody>
            {% for website in site.data.projectos %}
            <tr>
              <th>
                <a href="{{ website.link }}">
                  {{ website.name }}
                </a>
              </th>
              <th>
                {{ website.tipo }}
              </th>
              <th>
                {{ website.frameworks }}
              </th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>
