<section id="projects">
<div class="container">
  <h3>Projectos</h3>
  <div class="panel panel-default">
    <div class="panel-body">
<!-- 		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5> -->
    <h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://revistacabinda.com">RevistaCabinda</a></strong>
		</h5>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://flashcabinda.com">FlashCabinda</a></strong>
		</h5>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://jnz-th.com">JNZ-TH</a></strong>
		</h5>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://lubelnaportal.com">Lubelna Portal</a></strong>
		</h5>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://fabiomusic.flashcabinda.com">Fabio Music</a></strong>
		</h5>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://iamextraordinary.co.za/">I am extraordinary</a></strong>
		</h5>
    <h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="http://kandengue.com/">Kandengue</a></strong>
		</h5>

		<h1><i class="fa fa-mobile"></i> Aplicativos</h1>
		<h5>
			<i class="fa fa-link"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=QFPuFe59XcQ">GK Electronik</a></strong>
		</h5>
    <h5>
      <strong>
        <i class="fa fa-link"></i>&nbsp;&nbsp;
				<a>MyAngola</a>
				<a href="https://play.google.com/store/apps/details?id=myangola.general">
				  <img alt="Android app on Google Play"
				    src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
				</a>
			</strong>
		</h5>
		<h5>
      <strong>
        <i class="fa fa-link"></i>&nbsp;&nbsp;
				<a>City Of Tshwane</a>
				<a href="https://play.google.com/store/apps/details?id=cityoftshwane.general">
				  <img alt="Android app on Google Play"
				    src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
				</a>
				<a href="https://play.google.com/store/apps/details?id=cityoftshwane.general">
				  <img alt="Windows app on Windows Market"
				    src="/static/img/154x40_WPS_Download_blk.png" />
				</a>
			</strong>
		</h5>
    <h5>
      <strong>
        <i class="fa fa-link"></i>&nbsp;&nbsp;
				<a>Ana Bungo Blog</a>
				<a href="https://play.google.com/store/apps/details?id=com.itech.anabungo">
				  <img alt="Android app on Google Play"
				    src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
				</a>
			</strong>
		</h5>
		<h5>
      <strong>
        <i class="fa fa-link"></i>&nbsp;&nbsp;
				<a>Car News</a>
				<a href="http://www.windowsphone.com/en-za/store/app/car-news/3cbe3b53-d191-4858-8765-686d73c87081">
				  <img alt="Windows app on Windows Market"
				    src="/static/img/154x40_WPS_Download_blk.png" />
				</a>
			</strong>
		</h5>
    </div>
  </div>
</div>
</section>
