<section class="thirteen columns">
  <h1>Habilidades</h1>
  <article>
    <header>
        <h1>Engenharia de Software & Desenvolvimento de Websites, Automação</h1>
    </header>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      &nbsp;&nbsp;<em>Desenvolvimento Android (Java & XML)</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>C/C++/C#</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>Java</em>, <em>PHP (Laravel, SlimFramework)</em> &amp; <em>Git</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>Ruby (Ruby on Rails, Sinatra)</em>, <em>Python</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>Microsoft Office (Word, Excel, Powerpoint)</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>MySQL</em> &amp; <em>Postgres SQL</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>SCADA (Sistemas de Supervisão e Aquisição de Dados)</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>Metodologias Ageis</em>
    </p>
    <p>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
      &nbsp;&nbsp;<em>PLC's</em>
    </p>
  </article>
</section>
